In [5]:
### 1. Create a dictionary where each object contains a list of one float (Age) and one string (Family name) (at least 5 objects)

Dictionary={"Pablo": [28, "Salcedo"], "Sam": [22, "Willard"], "Kev": [32, "Krown"], "Chris": [12, "Grow"], "Tim": [32, "Evans"]} 


print(Dictionary)

{'Pablo': [28, 'Salcedo'], 'Sam': [22, 'Willard'], 'Kev': [32, 'Krown'], 'Chris': [12, 'Grow'], 'Tim': [32, 'Evans']}

In [9]:
### 2. Delete one object from the dictionary

del Dictionary['Tim']

print(Dictionary)

{'Pablo': [28, 'Salcedo'], 'Sam': [22, 'Willard'], 'Kev': [32, 'Krown'], 'Chris': [12, 'Grow']}

In [10]:
### 3. Replace the float number of one of your objects - we are changing a list entry inside a dictionary record! look at Darwin's new age
Dictionary['Pablo'][0]=22

print(Dictionary)

{'Pablo': [22, 'Salcedo'], 'Sam': [22, 'Willard'], 'Kev': [32, 'Krown'], 'Chris': [12, 'Grow']}

In [17]:
age=[]
for k,v in Dictionary.items():
    age.append(v[0])
print(age)

[22, 22, 32, 12]