# Module 1 - Manipulating data with Pandas
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### _Our goals today are to be able to_: <br/>

Use the pandas library to:

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use mean, min, max, and value_counts 
- Use apply and applymap to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a groupby object is and split a DataFrame using a groupby
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

## Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

## Switch gears

Before we answer those questions about the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [1]:
!pwd
!ls -al

/Users/buddy4732/datascience/dc_ds_04_22_19/module_1/day_4_lecture_1_manipulating_with_pandas
total 224
drwxr-xr-x  11 buddy4732  staff    352 Apr 25 12:02 .
drwxr-xr-x  13 buddy4732  staff    416 Apr 25 09:56 ..
drwxr-xr-x   5 buddy4732  staff    160 Apr 25 12:02 .ipynb_checkpoints
-rw-r--r--   1 buddy4732  staff     95 Apr 25 09:56 ds_chars.csv
-rw-r--r--   1 buddy4732  staff  11328 Apr 25 09:56 heart.csv
drwxr-xr-x   4 buddy4732  staff    128 Apr 25 09:56 images
-rw-r--r--   1 buddy4732  staff  46125 Apr 25 11:55 in_class_lesson.ipynb
-rw-r--r--   1 buddy4732  staff  18959 Apr 25 12:02 manipulating_data_with_pandas-my_own_version.ipynb
-rw-r--r--   1 buddy4732  staff  18959 Apr 25 12:02 manipulating_data_with_pandas.ipynb
-rw-r--r--   1 buddy4732  staff   3297 Apr 25 09:56 pre_process_animal_shelter_data.py
-rw-r--r--   1 buddy4732  staff    130 Apr 25 09:56 states.csv

In [2]:
import pandas as pd
uci = pd.read_csv('heart.csv')

In [3]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### The `.columns` and `.shape` Attributes

In [4]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [5]:
uci.shape

(303, 14)

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [6]:
# Call the .info() method on our dataset. What do you observe?
uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [10]:
# Call the .describe() method on our dataset. What do you observe?

uci['sex'].value_counts()

1    207
0     96
Name: sex, dtype: int64

In [17]:
# Use the code below. How does the output differ from info() ?
uci.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [16]:
uci['fbs'].value_counts()

0    258
1     45
Name: fbs, dtype: int64

In [18]:
uci.mean()

age          54.366337
sex           0.683168
cp            0.966997
trestbps    131.623762
chol        246.264026
fbs           0.148515
restecg       0.528053
thalach     149.646865
exang         0.326733
oldpeak       1.039604
slope         1.399340
ca            0.729373
thal          2.313531
target        0.544554
dtype: float64

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [24]:
uci[['age', 'chol']].mean()

age      54.366337
chol    246.264026
dtype: float64

#### The Axis Variable

In [32]:
uci.sum()# Try [shift] + [tab] here!
uci.iloc[5,]

age          57.0
sex           1.0
cp            0.0
trestbps    140.0
chol        192.0
fbs           0.0
restecg       1.0
thalach     148.0
exang         0.0
oldpeak       0.4
slope         1.0
ca            0.0
thal          1.0
target        1.0
Name: 5, dtype: float64

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [20]:
uci['age'].value_counts()[:10]

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
Name: age, dtype: int64

$\bf{\rightarrow Exercise: What\ are\ the\ different\ values\ for\ restecg?}$

In [33]:
# Your code here!
uci['restecg'].value_counts()

1    152
0    147
2      4
Name: restecg, dtype: int64

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?<br>
`animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')`

In [41]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

In [40]:
animal_outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A761051,Bluebell,04/25/2019 12:40:00 PM,04/25/2019 12:40:00 PM,10/28/2016,Return to Owner,NaN,Dog,Spayed Female,2 years,Soft Coated Wheaten Terrier Mix,Tan/White
1,A792288,NaN,04/25/2019 12:25:00 PM,04/25/2019 12:25:00 PM,04/08/2018,Transfer,Partner,Dog,Intact Female,1 year,Norfolk Terrier/Chihuahua Shorthair,Tan
2,A793052,*Lucy,04/25/2019 12:10:00 PM,04/25/2019 12:10:00 PM,04/18/2018,Rto-Adopt,NaN,Dog,Spayed Female,1 year,Pit Bull Mix,White/Brown
3,A793167,Kovu,04/25/2019 11:20:00 AM,04/25/2019 11:20:00 AM,04/20/2017,Rto-Adopt,NaN,Dog,Neutered Male,2 years,Cairn Terrier Mix,Black/Tan
4,A793428,NaN,04/25/2019 11:10:00 AM,04/25/2019 11:10:00 AM,04/25/2018,Transfer,Partner,Other,Unknown,1 year,Tortoise Mix,Green

In [42]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98875 entries, 0 to 98874
Data columns (total 12 columns):
Animal ID           98875 non-null object
Name                68339 non-null object
DateTime            98875 non-null object
MonthYear           98875 non-null object
Date of Birth       98875 non-null object
Outcome Type        98866 non-null object
Outcome Subtype     44833 non-null object
Animal Type         98875 non-null object
Sex upon Outcome    98873 non-null object
Age upon Outcome    98871 non-null object
Breed               98875 non-null object
Color               98875 non-null object
dtypes: object(12)
memory usage: 9.1+ MB

Let's rename the columns to something a bit more friendly.

In [44]:
animal_outcomes.columns

Index(['id', 'name', 'date', 'monthyear', 'dob', 'outcome', 'outcome_s',
       'animal', 'sex', 'age', 'breed', 'color'],
      dtype='object')

In [47]:
new_names = (['id', 'name', 'date', 'monthyear', 'dob',
             'outcome', 'outcome_s', 'animal', 'sex', 'age', 'breed', 'color'])
animal_outcomes.columns = new_names

In [48]:
animal_outcomes.columns

Index(['id', 'name', 'date', 'monthyear', 'dob', 'outcome', 'outcome_s',
       'animal', 'sex', 'age', 'breed', 'color'],
      dtype='object')

In [60]:
animal_outcomes.rename(columns={'dob':'date_of_birth'}, inplace=True)

In [62]:
animal_outcomes=animal_outcomes.rename(columns={'dob':'date_of_birth'})

In [63]:
animal_outcomes.columns

Index(['id', 'name', 'date', 'monthyear', 'date_of_birth', 'outcome',
       'outcome_s', 'animal', 'sex', 'age', 'breed', 'color'],
      dtype='object')

In [61]:
animal_outcomes.columns

Index(['id', 'name', 'date', 'monthyear', 'date_of_birth', 'outcome',
       'outcome_s', 'animal', 'sex', 'age', 'breed', 'color'],
      dtype='object')

In [58]:
animal_outcomes.columns
new_names = ['id', 'name', 'date', 'monthyear', 'dob', 'outcome', 'outcome_s', 'animal', 'sex', 'age', 'breed', 'color']
animal_outcomes.columns = new_names

What are the breed `value_counts`?

How about outcome counts for dogs?

_Hint_ <br>
Remember we did filtering in a previous lesson like this:<br>
`customer_df.loc[customer_df["state"]=='OR']`

In [98]:
dog_frame['breed'].value_counts()

Norfolk Terrier/Chihuahua Shorthair    1
Pit Bull Mix                           1
Cairn Terrier Mix                      1
Soft Coated Wheaten Terrier Mix        1
Australian Shepherd                    1
Name: breed, dtype: int64

In [83]:
dog_frame=animal_outcomes[animal_outcomes['animal']== 'Dog'][:5]

AttributeError: 'Series' object has no attribute 'valuecounts'

In [84]:
dog_frame

,id,name,date,monthyear,date_of_birth,outcome,outcome_s,animal,sex,age,breed,color
0,A761051,Bluebell,04/25/2019 12:40:00 PM,04/25/2019 12:40:00 PM,10/28/2016,Return to Owner,NaN,Dog,Spayed Female,2 years,Soft Coated Wheaten Terrier Mix,Tan/White
1,A792288,NaN,04/25/2019 12:25:00 PM,04/25/2019 12:25:00 PM,04/08/2018,Transfer,Partner,Dog,Intact Female,1 year,Norfolk Terrier/Chihuahua Shorthair,Tan
2,A793052,*Lucy,04/25/2019 12:10:00 PM,04/25/2019 12:10:00 PM,04/18/2018,Rto-Adopt,NaN,Dog,Spayed Female,1 year,Pit Bull Mix,White/Brown
3,A793167,Kovu,04/25/2019 11:20:00 AM,04/25/2019 11:20:00 AM,04/20/2017,Rto-Adopt,NaN,Dog,Neutered Male,2 years,Cairn Terrier Mix,Black/Tan
5,A793236,Tucker,04/25/2019 11:02:00 AM,04/25/2019 11:02:00 AM,04/22/2014,Return to Owner,NaN,Dog,Neutered Male,5 years,Australian Shepherd,Tricolor

In [97]:
dog_frame['breed'].value_counts()

Norfolk Terrier/Chihuahua Shorthair    1
Pit Bull Mix                           1
Cairn Terrier Mix                      1
Soft Coated Wheaten Terrier Mix        1
Australian Shepherd                    1
Name: breed, dtype: int64

In [102]:
animal_outcomes.loc[animal_outcomes['animal']== 'Dog', 'outcome']

0        Return to Owner
1               Transfer
2              Rto-Adopt
3              Rto-Adopt
5        Return to Owner
11       Return to Owner
12              Adoption
14              Adoption
15              Adoption
16              Adoption
17       Return to Owner
19              Adoption
20              Adoption
21              Adoption
22       Return to Owner
24              Adoption
25              Adoption
27       Return to Owner
30              Adoption
33       Return to Owner
40              Transfer
42              Adoption
43              Adoption
45              Transfer
46              Transfer
47              Transfer
48              Transfer
49              Transfer
50       Return to Owner
51       Return to Owner
              ...
98822           Adoption
98823         Euthanasia
98826    Return to Owner
98827           Adoption
98828    Return to Owner
98831           Adoption
98832           Adoption
98840    Return to Owner
98841           Adoption
98842    Return to Owner
98843         Euthanasia
98844         Euthanasia
98845         Euthanasia
98846           Transfer
98847           Transfer
98848           Transfer
98849    Return to Owner
98850         Euthanasia
98858    Return to Owner
98859    Return to Owner
98860    Return to Owner
98861         Euthanasia
98862    Return to Owner
98863         Euthanasia
98866    Return to Owner
98867           Adoption
98868           Transfer
98869           Transfer
98870    Return to Owner
98874           Adoption
Name: outcome, Length: 56651, dtype: object

In [103]:
dog_frame['breed'].value_counts()

Norfolk Terrier/Chihuahua Shorthair    1
Pit Bull Mix                           1
Cairn Terrier Mix                      1
Soft Coated Wheaten Terrier Mix        1
Australian Shepherd                    1
Name: breed, dtype: int64

In [104]:
dog_frame['breed']

0        Soft Coated Wheaten Terrier Mix
1    Norfolk Terrier/Chihuahua Shorthair
2                           Pit Bull Mix
3                      Cairn Terrier Mix
5                    Australian Shepherd
Name: breed, dtype: object

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [105]:
def successor(x):
    return x + 1

In [108]:
uci.applymap(successor).head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2
5,58,2,1,141,193,1,2,149,1,1.4,2,1,2,2
6,57,1,2,141,295,1,1,154,1,2.3,2,1,3,2
7,45,2,2,121,264,1,2,174,1,1.0,3,1,4,2
8,53,2,3,173,200,2,2,163,1,1.5,3,1,4,2
9,58,2,3,151,169,1,2,175,1,2.6,3,1,3,2

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [ ]:
uci['age'].map(successor).tail(10)

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [ ]:
uci['oldpeak'].map(lambda x: round(x))[:4]

$\bf{\rightarrow Exercise: Use\ an\ anonymous\ function\ to\ turn\ the\ entries\ in\ age\ to\ strings}$

In [ ]:
# Your code here!

### Apply to Animal Shelter Data

We want to get the average age of animals, but the age variable is a mess.


Use a `map` to help change the dates from strings to datetime objects. 
- First use `map` to grab only the first 10 characters of date
- Second,  we can use `to_datetime` to convert the remaining characters to a datetime object

`animal_outcomes['date'] =  pd.to_datetime(animal_outcomes['date'], format='%m/%d/%Y')`

[for further reading on datetime formats, go here](http://strftime.org/)

- **Then** do the same to `dob` to convert it to datetime

 - **Create** a new variable `age_in_days` by subtracting `dob` from `date`

- Use `map` again to convert `age_in_days` to `years_old` with the `lambda` function `x.days/365`

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [ ]:
uci.groupby('sex')

#### `.groups` and `.get_group()`

In [ ]:
uci.groupby('sex').groups

In [ ]:
uci.groupby('sex').get_group(0) # .tail()

### Aggregating

In [ ]:
uci.groupby('sex').std()

$\bf{\rightarrow Exercise: Tell\ me\ the\ average\ cholesterol\ level\ for\ those\ with\ heart\ disease.}$

In [ ]:
# Your code here!

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

In [ ]:
# Your code here

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [ ]:
# Your code here

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [ ]:
uci.pivot(values = 'sex', columns = 'target').tail(10)

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [ ]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])

In [ ]:
toy1.join(toy2.set_index('age'), on = 'age',
          lsuffix = '_A', rsuffix = '_B').head()

### `.merge()`

In [ ]:
ds_chars = pd.read_csv('ds_chars.csv', index_col = 0)

In [ ]:
states = pd.read_csv('states.csv', index_col = 0)

In [ ]:
ds_chars.merge(states, left_on='home_state', right_on = 'state',
               how = 'inner')

### `pd.concat()`

$\bf{\rightarrow Exercise: Look\ up\ the documentation\ on\ pd.concat}$ (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) $\bf{and\ use\ it\ to\ concatenate\ ds\_chars\ and\ states.}$
<br/>
$\bf{Your\ result\ should\ still\ have\ only\ five\ rows!}$

In [ ]:
pd.concat([ds_chars, states])

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
pd.melt(ds_full, id_vars=)

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
 - drop everything but the intake date and the animal id
 - use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days_in_shelter variable
- create a new month_at_intake variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
#code here

## Assessment & Reflection